* {
  box-sizing: border-box;
}

body {
  text-align: center; 
  margin:auto;
  background-color:#dddcd7;}

header img{
  top:0;
  left:0;
  width:100%;
  max-height:10%;
  display:inline-block;
  position: fixed;
}

header nav{
  margin-top: 5rem;
}

p {
  font-family: 'Amatic SC', cursive;
  color:#523128;
  font-size:2em;
}

button {
  background-color:##8ba4ac; 
  width:auto;
}

a{
  text-decoration: none;
  color:#dddcd7;
  font-family: 'Pacifico', normal;
}

a::first-letter{
  font-size: 1.5em;
}

a:hover {
  color:#7b221f;
}

a:link {
    text-decoration: none;
}

a::first-letter{
  font-size: 1.5em;}

a:visited {
    text-decoration: none;
}

a::first-letter{
  font-size: 1.5em;
}

nav ul li{
  display: inline;
}

h1{
  margin:0-auto; 
  color:#523128;}

h2{margin:0-auto; 
  color:#523128;}

nav ul li{
  display: inline;
}

nav ul li i a{
  font-family:'Amatic SC', cursive;
  color:#523128;
  font-size:2em;
}

h1{
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  color:#523128;
  font-family:'Cabin Condensed';
}

h2{
  margin:0-auto; 
  color:#523128;
  font-family:'Cabin Condensed';
}

article {
  display:inline-block;
  width:85%;
  margin-top: 3rem;
  margin-bottom: 10rem;
  padding:3rem; 
  background-color:#8ba4ac;
}

.pictures {
  display:inline-block; 
  border-radius: 80%; 
  margin-left:auto; 
  margin-right:auto; 
  width:15rem;}

footer {
  border: 2px solid #da7271; 
  background-color:#392f4b}

footer p{
  color:#dddcd7;
  font-family: Arial; 
  font-family:sans-serif;
  font-style: bold;
  font-size: .5em;}

footer a{
  color: #dddcd7;
  text-decoration: none;
  border: none;
}

link {
  color:#8ba4ac
  border: none;}

a img {
  border:none;
}

article img{
  width:33%;}

figcaption {
  font-size:3em; 
  color:#e45e58}

a{
  text-decoration: none;
  color: #5B4D43;
}
h1{border-bottom: 2px solid gray;
  padding-bottom: 1rem;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  margin:0-auto; color:#523128;}


article {
  display:inline-block;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding:3rem; 
  background-color:#8ba4ac;
}

h2{
  margin:0-auto; 
  color:#523128;}

.pictures {
  display:inline-block; 
  border-radius: 80%; 
  margin-left:auto; 
  margin-right:auto; 
  width:15rem;}

footer {
  border: 2px solid #da7271; 
  background-color:#392f4b; 
  position:fixed; 
  bottom:0; 
  width:100%;}

footer p{
  color:#dddcd7;
}

footer a {
  color:#dddcd7;
  font-family: 'Pacifico', normal;
}

link {
  color:#8ba4ac
}

article img{
  width:33%;
}

figcaption {
  font-size:3em; 
  color:#e45e58}

footer p {
  color:#dddcd7;
}

footer a {
  color:#dddcd7;
  font-family: 'Pacifico', normal;
}

link {
  color:#8ba4ac
}

article img{
  width:33%;
}

.project-one {
  font-size:2em; 
  color:#e45e58;
  font-family: 'Pacifico', normal;
}
